@use '../../styles/_variables.scss' as variables;

body {
  color: variables.$text-color-light;
}

.call:hover {
  background: rgba(variables.$blue-shade, variables.$opacity-medium);
  color: whitesmoke;

}

.complete:hover {
  background: rgba(variables.$green-shade, variables.$opacity-medium);
  color: whitesmoke;
}

.skip:hover {
  background: rgba(variables.$red-shade, variables.$opacity-medium);
  color: whitesmoke;
}

.transfer:hover {
  background: rgba(variables.$orange-shade, variables.$opacity-medium);
  color: whitesmoke;
}
