
<div class="dashboard-container">
  <div class="kiosk-card">
    <h1 class="title">{{ 'TICKET KIOSK' | translate}}</h1>
    <div class="button-group">
      <button mat-raised-button color="primary" class="kiosk-btn cashier" (click)="handleCashierClick()">
        {{ 'CASHIER' | translate}}
      </button>
      <button mat-raised-button color="accent" class="kiosk-btn consultation" >
        {{ 'CONSULTATION' | translate}}
      </button>
      <button mat-raised-button color="warn" class="kiosk-btn others" >
        {{ 'OTHERS' | translate}}
      </button>
    </div>
  </div>
</div>
