<mat-card class="login-card">
  <h2>{{ 'LOGIN' | translate }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'USERNAME' | translate }}</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'PASSWORD' | translate}}</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
      {{ 'LOGIN' | translate }}
    </button>

  </form>
</mat-card>
