$blue-shade: rgb(36, 99, 235);
$brown-shade: rgb(124,45,18);
$green-shade: rgb(25, 163, 74);
$orange-shade: rgb(234, 88, 11);
$red-shade: rgb(244, 67, 54);
$violet-shade: rgb(146, 52, 234);

$light-blue-shade: rgb(239, 246, 255);
$light-brown-shade: rgb(255, 245, 240);
$light-green-shade: rgb(240, 253, 244);
$light-orange-shade: rgb(254, 251, 233);
$light-red-shade: rgb(255, 235, 230);
$light-violet-shade: rgb(250, 245, 255);

$opacity-high: 0.7;
$opacity-low: 0.2;
$opacity-medium: 0.5;
$text-color-dark: $brown-shade;
$text-color-light: whitesmoke;
