$blue-shade: rgb(64, 110, 231);
$green-shade: rgb(83, 175, 92);
$orange-shade: rgb(220, 105, 45);
$violet-shade: rgb(145, 71, 230);
$red-shade: rgb(244, 67, 54);
$brown-shade: rgb(115, 50, 27);
$opacity-low: 0.2;
$opacity-medium: 0.5;
$opacity-high: 0.7;
$text-color-light: whitesmoke;
$text-color-dark: $brown-shade;
