<mat-sidenav-container class="layout-container">
<!--  <mat-sidenav #drawer mode="side" opened="false">-->
<!--    &lt;!&ndash; Side nav content (e.g. nav links) &ndash;&gt;-->
<!--    <p>Navigation</p>-->
<!--  </mat-sidenav>-->

  <mat-sidenav-content>
    <mat-toolbar color="primary">
<!--      <button mat-icon-button (click)="drawer.toggle()">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <span class="toolbar-title">Queue Management System</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
